{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Changer mot de passe </title>
    <link rel="stylesheet" href="static/app1/css/css-employee/new_password_form.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

   <script src="static/app1/js/font.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

      <style>
.bg-img{
  background:url(static/app1/img/Webb.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
      </style>
  </head>
  <body>
    <div class="bg-img">
      <div class="content">
        <header>Définir mot de passe </header>
    <form id="form" class="" method="POST" action="">
        {% csrf_token %}
        <div class="fieldd space form-control">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
             <label> Ancien mot de passe</label>
             <input type="password"  class="input" name="old_password" required id="OldPassword">
                <small id="old_password_error" style="color:#d65858; visibility:visible;"></small>
            </div>
        </div>


        <div class="fieldd space form-control">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>

           <div class="div">
             <label> Nouveau mot de passe</label>
             <input type="password"  class="input" name="new_password1" required id="new_password1">
          </div>
            <small style="color:red;"></small>
        </div>
        <div class="fieldd space form-control">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
           <div class="div">
             <label>Confirmer le mot de passe </label>
             <input type="password"  class="input" name="new_password2" required id="new_password2">
               <small id="new_password2_error" style="color:#d65858; visibility:visible;"></small>
          </div>

        </div>

          
        <input type="submit" class="btn" value="Enregistrer">
    </form>
      </div>
    </div>
 <script>
const inputs = document.querySelectorAll(".input");
function addcl(){
	let parent = this.parentNode.parentNode;
	parent.classList.add("focus");
}

function remcl(){
	let parent = this.parentNode.parentNode;
	if(this.value == ""){
		parent.classList.remove("focus");
	}
}


inputs.forEach(input => {
	input.addEventListener("focus", addcl);
	input.addEventListener("blur", remcl);
});
    </script>
  <script>
      $("#form").submit(function(){
         form = $(this).serialize();
            $.ajax({
                data: form,
                method: 'post',
                dataType: 'json',
                success: function(data){
                    if(data.valid){
                        window.location.replace("http://127.0.0.1:8000/login");
                    }
                    else{
                        if(data.old_password_error)
                            $("#old_password_error").text("Ancien mot de passe incorrect");
                        else
                            $("#old_password_error").text("");

                        if(data.new_password2_error)
                            $("#new_password2_error").text("Les deux mot de passes ne se correspondent pas");
                        else
                            $("#new_password2_error").text("");
                    }
                }
            });
        return false;
      });
  </script>

  </body>
</html>
